html {
    min-height: 100%;
    font: 16px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    line-height: 1.625;
    font-weight: 400;
    background: white;
}
body {
    margin: 0;
}
header {
  padding: 8px 21px;
  font-size: 13px;
  color: #bbb;
}
  header span {
    padding: 8px 0;
    display: inline-block;
  }
  .right {
    float: right;
  }
article {
  margin: 0 auto;
  max-width: 1000px;
}
h1, h2 {
  color: black;
  font-weight: 500;
  font-family: "Din", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  font-size: 3em;
  text-align: center;
}
p, h2, pre {
  max-width: 640px;
  margin: 1.44em auto;
  padding: 0 13px;
}
h2 {
  margin-bottom: 0;
}
p {
  line-height: 32px;
}
  h2 + p {
    margin-top: 0.34em;
  }
a {
  color: hsl(205,100%,50%);
  font-weight: normal;
  text-decoration: none;
}
canvas, img {
  vertical-align: bottom;
}
pre {
  padding: 13px;
  color: black;
  font-size: 13px;
  background: hsl(200,10%,95%);
}
button {
  text-align: center;
  border: none;
  color: white;
  font-size: 21px;
  padding: 8px 21px;
  background: hsl(205,100%,50%);
}
.demo {
  margin: 0.34em 0;
  background: hsl(200,10%,95%);
}
.controls {
  padding: 21px;
  text-align: center;
}
  label {
    margin-right: 3px;
  }
  label:not(:first-child) {
    margin-left: 21px;
  }
#output code {
  display: block;
}

.center {
  width: 100%;
  
  display: -webkit-box;
  display:    -moz-box;
  display:     -ms-box;
  display:      -o-box;
  display:         box;
  
  -webkit-box-pack: center;
     -moz-box-pack: center;
      -ms-box-pack: center;
       -o-box-pack: center;
          box-pack: center;
          
  -webkit-box-align: center;        
     -moz-box-align: center;
      -ms-box-align: center;  
       -o-box-align: center;
          box-align: center;
} 
.flex {
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
      -ms-box-flex: 1;
       -o-box-flex: 1;
          box-flex: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}